#main-header img {
    height: 100%;
    width: 100%;
}

.bg-black {
    background: #000;
    color: #fff;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item: hover {
    opacity: 0.8;
    cursor: pointer;
}